[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/shruti927
[access "refs/for/refs/*"]
	read = group user/shruti927
	push = group user/shruti927
	label-Code-Review = -2..+2 group user/shruti927
	label-Verified = -1..+1 group user/shruti927
	rebase = group user/shruti927
	removeReviewer = group user/shruti927
	submit = group user/shruti927
[access "refs/heads/*"]
	read = group user/shruti927
	create = group user/shruti927
	push = +force group user/shruti927
	pushMerge = group user/shruti927
[access "refs/tags/*"]
	push = +force group user/shruti927
	pushTag = group user/shruti927
	pushSignedTag = group user/shruti927
